extends ../layout/layout

block title
  | Главная страница

block content
  main
    .container
      .row
        .col
          h3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sunt praesentium inventore illum hic. Asperiores ratione iusto saepe, officia ducimus facere libero voluptates veniam, obcaecati enim optio minima aut porro!
