---
title: Homepage title
bodyClass: homepage
---
extends ../layout/layout
block content
  main
    .container
      .row
        .col
          h3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sunt praesentium inventore illum hic. Asperiores ratione iusto saepe, officia ducimus facere libero voluptates veniam, obcaecati enim optio minima aut porro!
          p test nice room
