html {
  font-size: 62.5%;
}

body {
  font-family: $main-font;
  font-size: 1.6rem;
  line-height: 1.8;
}

.section-title {
  font-size: 4.6rem;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  color: #111111;

  @include tablets {
    font-size: 2.8rem;
  }


  &--white {
    color: #ffffff;
  }
}

