/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1700px) {
  .header__inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 1550px) {
  .header__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    padding-top: 30px;
    margin-top: 60px;
  }

  .top-contacts {
    flex: 0;
  }

  .navbar__link {
    font-size: rem(22);
  }

  .navbar--trivialPage {
    margin-top: 10px;
  }

}

@media only screen and (min-width: 710px) and (max-width: 1550px) {

  .top-contacts--trivialPage {
    flex-direction: row;
    margin-top: 10px;
  }

  .top-contacts__link--trivialPage {
    margin: 0 35px;
  }
  /* CSS rules here */
}

@media only screen and (max-width: 1400px) {
  .header__titleWrap {
    max-width: 500px;
  }
}

@media only screen and (max-width: 1200px) {

  /*  HEADER  */

  .header__titleWrap {
    padding-left: 20px;
    max-width: 300px;
  }

  .header__title {
    font-size: rem(40);
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .header__content {
    margin-bottom: 50px;
  }

  .header__inner--trivialPage {
    width: 100%;
  }

  /* CONTACTS */

  .contacts__mapWrapper {
    margin-top: 40px;
  }

  .itemTitle {
    font-size: rem(18);
  }

  .nav-tabs > li {
    margin-bottom: -3px;
  }
  .nav-tabs > li > a.tabs__link {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .tabs__icon {
    font-size: rem(30);
  }
}

/**/

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

  /*   HEADER  */

  .header__arrow {
    display: none;
  }

  .header__listLink {
    left: calc(50% - 60px);
  }

  .header__title {
    display: none;
  }

  .header__content {
    margin-bottom: 20px;
  }

  /* SERVICES */
  .services__wrapperTitle {
    height: auto;
    justify-content: center;
  }
  .services__docTitle {
    padding-left: 0px;
    margin-bottom: 15px;
    text-align: center;
  }
  .services__wrapper {
    margin-bottom: 15px;
  }

  .services__docImage {
    width: auto;
  }

  /* CONTACTS */
  .contacts__list {
    margin-bottom: 20px;
  }

  /* obj Page  */

  .objData {
    margin-top: 25px;
  }

  /* to Companies*/

  .page_wrapper--toCompanies {
    margin-top: 30px;
    margin-left: 15px;
  }

  .icon-request--absolute.icon-request--absolute--toCompanies {
    left: 0px;
  }

  .popup__formBlock {
    justify-content: center;
    align-items: center;
  }

  /*  FOOTER  */

  .footer__topLine {
    padding-top: 27px;
  }

  .footer__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .footer__image {
    width: 200px;
  }
  .footer__title {
    margin-top: 20px;
    padding-top: 24px;
  }
  .footer__text {
    padding-top: 10px;
  }
  .social-icon {
    margin: 0;
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .navbar {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0;
    top: 0;
    border-radius: 0;
    display: none;
  }

  // .menuClose {
  //   display: none;
  // }

  .menuOpen {
    display: block !important;
  }

  .navbar__list {
    transition: all .3s ease-in;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }
  .navbar__item {
    width: 100%;
    margin: 0;
    transition: all .3s ease-in;
    text-align: center;
    &:hover, &:active {
      background-color: $accentColor;
    }
  }

  .navbar__link {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    &:hover, &:focus, &:link {
      border-bottom: none;
    }

  }

  #menu-toggle {
    display: block;
    position: absolute;
    right: 40px;
    z-index: 5;
    background-color: transparent;
    overflow: hidden;
    &:hover, &:active {
      background-color: lighten($headerBGColor, 15%);
    }
    span {
      background-color: $mainTitleBGColor;
    }
  }

  #bgvid {
    display: none;
  }

  .header__circleMnu {
    padding-left: 70px;
    padding-right: 60px;
    background-position: center;
    margin: 0 auto;
  }
  #hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    right: 5px;
    background-color: transparent;
    &:hover, &:active {
      background-color: transparent;
    }
  }
  #menu-toggle #hamburger .menu-span {
    width: 40px;
    margin: 4px auto;
    top: 0;
    left: 0;
    right: 0;
  }

  #menu-toggle #cross span:first-child {
    top: 24%;
    left: 48px;
  }

  #menu-toggle.open #cross span:first-child {
    height: 50%;
  }

  #menu-toggle.open #cross span:nth-child(2) {
    width: 50%;
  }

  #menu-toggle #cross span:nth-child(2) {
    left: 26px;
    top: 46px;
  }

  .header--mainPage {
    background-image: url(../img/decor/mainHeader.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-numbers {
    text-align: center;
  }

  .support__wrapper {
    flex-direction: column;
  }
  .support__wrapperImg {
    margin-top: 30px;
  }

  .aboutCompany__text {
    padding-top: 50px;
  }

  .graf__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .popup__graf {
    margin-bottom: 20px;
  }
}

/**/

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

  /* HEADER */

  #earth {
    display: none;
  }

  .circleMnu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .objects--servise {
    margin-right: 0px;
    margin-right: 0px;
  }

  .objects {
    padding-left: 15px;
    padding-right: 15px;
  }

  .ourObjects__wrapper--serv {
    margin-right: -30px;
  }

  .ourObjects__descrBlock {
    width: 100%;
  }

  .services__wrapperTitle {
    vertical-align: middle;
  }

  /*REVIES */

  .rev-flex__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .rev-itev__content {
    padding-left: 0px;
  }

  .rev-item__title {
    margin-bottom: 20px;
  }

  /*  MAIN Page*/
  .choise {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .choise__block {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /*       NEWS   */
  .news-item__wrapimage {
    margin-bottom: 20px;
  }
  .news-item__title__link {
    padding-top: 0px;
  }

  .container__popupWrap {
    justify-content: center;
  }

  .wrapper--blocks {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }

}

/**/

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

  .header__content {
    margin-bottom: 0px;
  }

  .header__circleMnu {
    padding-bottom: 0px;
  }

  .choise__block {
    width: 300px;
  }

  .popup__title {
    font-size: rem(22);
  }

  .popup__checkText {
    font-size: rem(18);
    line-height: 1.5;
  }

  .popup__settingObject {
    font-size: rem(18);
  }

  .popup__dataInput {
    width: 250px;
  }

  .container--popupMod {
    margin-left: -15px;
    margin-right: -15px;
  }

  .popup__dataButton {
    width: 250px;
    font-size: rem(14);
  }

  .popup__input--text {
    width: 200px;
  }

  .nav-tabs > li > a.tabs__link {
    font-size: rem(18);
  }

  /* === popupASK === */

  .containerAsk {
    padding: 0;
  }

  .containerAsk--modifWidthOn480 {
    width: 240px;
  }

}

/**/

@media only screen and (max-width: 425px) {
  .circleMnu {
    height: auto;
  }

  .circleMnu__link > i {
    display: none;
    & > i {
      display: none;
    }
  }

  .circleMnu__link {
    width: auto;
    height: auto;
    background-color: transparent;
    margin-bottom: 25px;
    border: none;
    &:hover {
      .circleMnu__submnu {
        background-color: darken($accentColor, 10%);
        color: $white;
        font-weight: bold;
      }
    }
    &:hover, &:focus {
      background-color: transparent;
      border: none;
    }
  }

  .header__circleMnu {
    padding-top: 0px;
    height: auto;
  }

  .circleMnu__submnu {
    position: relative;
  }

  .circleMnu__submnu::before {
    display: none;
  }

  .circleMnu__submnu {
    bottom: 0;
  }

  .icon-popup {
    font-size: rem(15);
  }
  .containerAsk__dataButton {
    margin-bottom: 30px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

  html {
    font-size: 15px;
  }

  .page-title {
    font-size: rem(36);
  }

  .news__textBlock {
    width: 260px;
  }

  .news__textBlock {
    margin-left: -130px;
  }

}

/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/**/

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/**/

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

/**/
