//vars

//colors

$white: #ffffff;
$blue: #33c1e3;
$black: #414141;

$accentColor: #f7b71e;
$titleColor: #838383;
$textColor: #5d5c5d;
$titleColorNew: #464646;

$headerBGColor: #a3a4a6;
$footerBGColor: #3b3342;
$mainTitleBGColor: #ececec;

$carouselNonActive: #c2c2c2;
$footerCopyright: #676767;
//fonts

$main-font: "RobotoCondensed-Light", sans-serif;
$mainTitle-font: "RobotoCondensed-Regular", sans-serif;
$accent-font: "RobotoCondensed-LightItalic", sans-serif;
