//+++++ Carousel Style +++++++ //


   /* carousel with fade */


.owl-fadeStyle .owl-item{
  filter: grayscale(1);
  opacity: 0.3;
  transition: background-color .3s ease-in;
}
.owl-fadeStyle .item > .item__wrapper{
  display: none;
}
.owl-fadeStyle .center .item__wrapper{
  display: block!important;
  display: flex!important;
  flex-direction: row!important;
  align-items: center!important;
  justify-content: center!important;
}
.owl-fadeStyle .owl-item.active.center{
  border: 1px solid $accentColor;
}
.modificationOwlItem{
  filter: grayscale(0)!important;
  opacity: 1!important;
  transform: scale(1)!important;
  border: 1px solid $accentColor;
}
.owl-fadeStyle.owl-carousel.owl-drag .owl-item{
  transform: scale(0.8);
}

.owl-fadeStyle.owl-carousel.owl-drag .owl-item.active {
  transition: all .5s linear;
}
.owl-fadeStyle.owl-carousel.owl-drag .owl-item.active.center {
  opacity: 1;
  transform: scale(1);
  filter: none!important;
}

.owl-fadeStyle.owl-theme .owl-dots .owl-dot.active span, .owl-fadeStyle.owl-theme .owl-dots .owl-dot:hover span {
  background-color: $accentColor;
}

.owl-fadeStyle.owl-theme .owl-dots .owl-dot span {
  margin-top: 75px;
  width: 20px;
  height: 20px;
}

.ourPartners-bottom {
  margin-bottom: 40px;
}



   /* carousel line style*/

.owl-aboutCompany {
  position: relative;
}

.owl-aboutCompany.owl-theme .owl-nav.disabled+.owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
}

.owl-aboutCompany.owl-theme .owl-dots .owl-dot span {
  background-color: $titleColor;
  width: 15px;
  height: 15px;
  border: 1px solid $accentColor;
}

.owl-aboutCompany.owl-theme .owl-dots .owl-dot.active span, .owl-fadeStyle.owl-theme .owl-dots .owl-dot:hover span {
  background: rgba(247,182,30,1);
  background: radial-gradient(ellipse at center, rgba(247,182,30,1) 0%, rgba(247,182,30,1) 30%, rgba(247,182,30,1) 32%, rgba(131,131,131,1) 40%, rgba(131,131,131,1) 100%);
  border: none;
}
