.contacts{
  padding-top: 80px;
  padding-bottom: 110px;
}
.contacts__list{
  margin-left: 43px;
  margin-bottom: 70px;
  list-style: none;
  font-family: $main-font;
  font-size: rem(24);
  color: $textColor;
}
.contacts__item__link{
  color: $textColor;
  text-decoration: none;
  &:link, &:visited{
    text-decoration: none;
    color: $textColor;
  }
  &:hover{
    color: $titleColorNew;
    text-decoration: none;
  }
}
.contacts__text{
  font-family: $main-font;
  color: $textColor;
  font-size: rem(24);
  line-height: rem(36);
}
.contacts__mapWrapper{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__map{
  width: 100%;
  border: 3px solid $accentColor;
}

.icon__contacts {
  color: $accentColor;
  font-size: 24px;
  position: absolute;
}

.icon__address{
  left: 15px;
}

.icon__phone {
  left: 15px;
}

.icon__mail {
  left: 10px;
}
