.choise {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &__link {
    text-decoration: none;
    &:hover, &:focus, &:link{
      text-decoration: none;
    }
  }
  &__block {
    min-height: 370px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid $textColor;
    padding-top: 35px;
    transition: all .3s ease-in;
    &:hover {
      border-color: $accentColor;
      .choise__block__text {
        color: $accentColor;

      }
      .svgStyle {
        fill: $accentColor;
      }
    }
    &__text {
      transition: all .3s ease-in;
      padding-top: 20px;
      color: $textColor;
      font-family: $main-font;
      font-size: rem(36);
      text-align: center;
      margin-bottom: 0;
    }
  }
  &__imgWrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
svg {
  width: 150px;
  height: 150px;
}
.svgStyle {
  fill:$textColor;
  transition: all .3s ease-in;
}

.container--borderBottom {
  border-bottom: 1px solid $headerBGColor;
}

.news {
  transition: all .3s ease-in;
  border: 1px solid $titleColor;
  margin-top: 60px;
  &:hover {
    .news__calendar {
      background-color: $accentColor;
      &::before {
        border-color: transparent transparent transparent $accentColor;
      }
    }
    .news__wrapperText {
      background-color: $accentColor;
    }
  }
}

.news__dateBlock {
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.news__calendar {
  position: relative;
  width: 68px;
  height: 56px;
  background-color: $titleColor;
  transition: all .3s ease-in;
  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top:50%;
    margin-top: -6px;
    margin-left: 68px;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    transition: all .3s ease-in;
    border-color: transparent transparent transparent $titleColor;
  }
}
.icon-calendar {
  color: $white;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  font-size: 42px;
}

.news__date {
  padding-left: 30px;
  color: $titleColor;
  font-family: $main-font;
  font-size: rem(24);
  background-color: $white;
}

.news__wrapperImg {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  position: relative;
}

.news__img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.news__wrapperText {
  height: 200px;
  background-color: #e8e8e8;
  position: relative;
  transition: all .3s ease-in;
}

.news__textBlock {
  position: absolute;
  background-color: $white;
  width: 295px;
  height: 250px;
  left: 50%;
  margin-left: -147.5px;
  bottom: 30px;
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}

.news__title {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: rem(24);
  font-family: $mainTitle-font;
  color: $footerBGColor;
}

.news__text  {
  line-height: 1.1;
  text-align: justify;
  color: $titleColor;
  font-size: rem(18);
}

.news__readMore {
  margin-top: 45px;
  float: right;
}

.news__readMore__link {
  color: $accentColor;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: $titleColor;
  }
}

.newsTextBlock {
  margin-bottom: 60px;
}

/* Main Page Pixel Perfect  */

.page-title_container.page-title-background.page-title_mainPage--ourObj {
  padding-top: 50px;
  padding-bottom: 90px;
}

.objects.objects--mainPage {
  padding-bottom: 45px;
}

.page-title_container.page-title-background.page-title_mainPage--aboutComp {
  padding-top: 40px;
  padding-bottom: 35px;
}

.page-title_container.page-title-background.page-title_mainPage--news {
  padding-top: 40px;
  padding-bottom: 45px;
}

.newsTextBlock--mainPage {
  margin-bottom: 55px;
}


/* 992px adaptive top header  */


.menu-span {
  transition:.25s ease-in-out;
  display:block;
  background:#566973;
  border-radius:2px;
}

#menu-toggle {
  display: none;
  transition:.25s ease-in-out;
  width:100px;
  height:100px;
  margin:0;
  position:relative;
  position:relative;
  cursor:pointer;
  background:rgba(255,255,255,.4);
  border-radius:5px;
  &:hover {
    background:rgba(255,255,255,.8);
  }
  #hamburger {
    transition:.25s ease-in-out;
    position:absolute;
    height:100%;
    width:100%;
    span {
      transition:.25s ease-in-out;
      width:60px;
      height:4px;
      position:relative;
      top:24px;
      left:20px;
      margin:10px 0;
      &:nth-child(1){
        transition:.25s ease-in-out;
        transition-delay:.5s;
      }
      &:nth-child(2){
        transition:.25s ease-in-out;
        transition-delay:.625s;
      }
      &:nth-child(3){
        transition:.25s ease-in-out;
        transition-delay:.75s;
      }
    }
  }
  #cross {
    transition:.25s ease-in-out;
    position:absolute;
    height:100%;
    width:100%;
    transform:rotate(45deg);
    span{
      transition:.25s ease-in-out;
      &:nth-child(1){
        height:0%;
        width:4px;
        position:absolute;
        top:10%;
        left:48px;
        transition:.25s ease-in-out;
        transition-delay:0s;
        background-color: $white;
      }
      &:nth-child(2){
        transition:.25s ease-in-out;
        width:0%;
        height:4px;
        position:absolute;
        left:10%;
        top:48px;
        transition-delay:.25s;
        background-color: $white;
      }
    }
  }
}

#menu-toggle.open {
  transition:.25s ease-in-out;
  #hamburger {
    transition:.25s ease-in-out;
    span {
      transition:.25s ease-in-out;
      width:0%;
      &:nth-child(1){
        transition:.25s ease-in-out;
        transition-delay:0s;
      }
      &:nth-child(2){
        transition:.25s ease-in-out;
        transition-delay:.125s;
      }
      &:nth-child(3){
        transition:.25s ease-in-out;
        transition-delay:.25s;
      }
    }
  }
  #cross {
    transition:.25s ease-in-out;
    span {
      transition:.25s ease-in-out;
      &:nth-child(1){
        height:80%;
        transition-delay:.625s;
      }
    }
    span {
      transition:.25s ease-in-out;
      &:nth-child(2){
        width:80%;
        transition-delay:.375s;
      }
    }
  }
}
