.wrapper--blocks {
  margin-left: -15px;
  margin-right: -45px;
  margin-bottom: 50px;
}

.wrapper--block {
  padding-left: 0px;
  padding-right: 30px;
  margin-right: 0px;
  margin-bottom: 30px;
}

.ourObjects {
  position: relative;
}

.ourObjects__wrapper {
  overflow: hidden;
  position: relative;
}

.ourObjects__image {
  width: 100%;
  background-color: $headerBGColor;
}

.ourObjects__descrBlock {
  width: calc(100% - 30px);
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 0;
  padding: 50px 50px;
  transition: background-color .3s ease-in;
  background-color: rgba(0, 0, 0, .5);
  &:hover .ourObjects__wrapper-link {
    display: block;
  }
}

.ourObjects__link {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:focus, &:link, &:hover {
    outline: none;
  }
}

.ourObjects__title {
  width: 100%;
  color: $white;
  font-family: $main-font;
  font-size: rem(23);
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}


.ourObjects__descr {
  width: 100%;
  color: $white;
  font-size: rem(15.3);
  font-family: $main-font;
  position: relative;
}

.ourObjects__wrapper-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}

.ourObjects__button {
  min-width: 165px;
  min-height: 40px;
  padding: 0;
  background-color: transparent;
  border: 1px solid $accentColor;
  color: $accentColor;
  font-size: rem(17.27);
  font-family: $main-font;
  border-radius: 2px;
  text-transform: uppercase;
  transition: background-color .3s ease-in;
  margin-top: 24px;
  &:hover {
    background-color: $accentColor;
    color: $textColor;
  }
}
