.container--popupMod {
  margin-top: 55px;
  margin-bottom: 55px;
}

.popup {
  border: 2px solid $accentColor;
  padding: 0px 25px;
  margin: 0 auto;
  font-family: $main-font;
  background-color: $white;
  .mfp-close {
    right: 15px;
  }
}

.popup__title__wrapper {
  display: flex;
  justify-content: center;
}

.popup__title {
  margin-top: 35px;
  margin-bottom: 45px;
  display: inline-block;
  font-family: $main-font;
  font-size: rem(30);
  text-transform: uppercase;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -15px;
    width: 4px;
    height: 100%;
    background-color: $accentColor;
  }
}

.popup__wrapper {
  display: flex;
  margin-bottom: 18px;
}

.popup__input {
  display: none;
}

.popup__chekBox--custom {
  position: relative;
  width: 17px;
  height: 17px;
  border: 1px solid $textColor;
  margin-top: 7px;
  flex-shrink: 0;
}

.popup__chekBox--custom,
.popup__checkText {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.popup__input:checked + .popup__chekBox--custom::before {
  content: "\e80a";
  font-family: geoprof;
  color: $white;
  font-size: 11px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: $accentColor;
}

.col-lg-12 > .popup__input {
  margin-right: 18px;
}

.popup__checkText {
  display: initial;
  padding-left: 20px;
  font-family: $main-font;
  font-size: rem(24);
  line-height: 1.2;
  font-weight: normal;
  user-select: none;
}

.popup__checkText--strangeTopPadding {
  padding-top: 3px;
}

.popup__container {
  border-bottom: 1px solid $mainTitleBGColor;
  padding-bottom: 25px;
}

.popup__input--text {
  width: 290px;
  height: 37px;
  margin-left: 12px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: $accent-font;
  font-weight: normal;
}

.popup__object {
  width: 100%;
  text-align: center;
  font-family: $mainTitle-font;
  font-size: rem(24);
  font-weight: bold;
  color: $titleColorNew;
}

.popup__formBlocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popup__formBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.popup__text {
  width: 100px;
}

.popup__text--shortWidth {
  width: 60px;
}

.popup__field {
  width: 80px;
  height: 35px;
  text-align: center;
  border: 1px solid $textColor;
  margin: 5px 3px 3px 5px;
}

.popup__scale {
  margin-left: 5px;
}

.popup__settingObject {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: $mainTitle-font;
  font-size: rem(24);
  color: $titleColorNew;
  padding: 0 20px;
}

.popup__textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid $titleColor;
  margin-bottom: 10px;
  padding: 10px 8px;
  font-family: $accent-font;
}

.graf__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.popup__graf {
  font-size: rem(18);
  font-family: $main-font;
  color: $textColor;
  margin-right: 20px;
  padding-top: 3px;
}

.popup__formatInput {
  cursor: pointer;
  width: 270px;
  height: 35px;
  border: 1px solid $titleColor;
  margin-bottom: 10px;
  font-family: $accent-font;
  font-weight: lighter;
  display: flex;
  align-items: center;
  padding-left: 8px;
  overflow: hidden;
  padding-right: 1px;
}

.popup__formatInput--hide {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.popup__formatInput--modification {
  padding: 0;
  align-self: center;
}

.popup__formatInput--paddingLeftNone {
  padding-left: 0!important;
}

.popup__format {
  margin-bottom: 10px;
  text-align: center;
}

.popup__dataBlock {
  text-align: center;
  padding-top: 30px;
}

.popup__dataInput {
  height: 48px;
  width: 357px;
  // margin-bottom: 20px;
  padding-left: 18px;
  padding-right: 40px;
  font-family: $accent-font;
  @include placeholder {
    color: $titleColor;
  }
}

.popup__dataButton {
  width: 357px;
  height: 48px;
  background-color: $accentColor;
  text-align: center;
  text-transform: uppercase;
  border: none;
  margin-bottom: 40px;
  border-radius: 5px;
  color: $white;
  transition: background-color .3s ease-in;
  &:hover {
    background-color: darken($accentColor, 10%);
  }
}

.popup__dataInput--user {
  &:before {
    content: '\e800';
    color: black;
    font-family: FontAwesome;
  }
}

.popup__inputBlock {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.icon-popup {
  position: absolute;
  // top: 7px;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  color: $accentColor;
  font-size: 23px;
}

.icon-user--popup {
  right: 11px;
}

.icon-smart--popup{
  right: 11px;
}

#popupForm .mfp-close {
  color: $accentColor;
}

#popupAsk .mfp-close {
  color: $accentColor;
  right: 15px;
}

/* === popupASK === */

.containerAsk {
  border: 2px solid $accentColor;
  padding: 0px 25px;
  margin: 0 auto;
  font-family: $main-font;
  background-color: $white;
  text-align: center;
}

.containerAsk__title{
  margin-top: 35px;
  margin-bottom: 45px;
  display: inline-block;
  font-family: $main-font;
  font-size: rem(30);
  text-transform: uppercase;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -15px;
    width: 4px;
    height: 100%;
    background-color: $accentColor;
  }
}

.containerAsk__dataInput {
  height: 48px;
  width: 357px;
  // margin-bottom: 30px;
  padding-left: 18px;
  padding-right: 40px;
  font-family: $accent-font;
  @include placeholder {
    color: $titleColor;
  }
}

.containerAsk__inputBlock {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}

.containerAsk__textarea {
  width: 357px;
  height: 100px;
  resize: none;
  border: 1px solid $titleColor;
  margin-bottom: 30px;
  padding: 10px 8px;
  font-family: $accent-font;
}

.containerAsk__dataButton {
  width: 357px;
  height: 48px;
  background-color: $accentColor;
  text-align: center;
  text-transform: uppercase;
  border: none;
  margin-bottom: 50px;
  border-radius: 5px;
  color: $white;
  transition: background-color .3s ease-in;
  &:hover {
    background-color: darken($accentColor, 10%);
  }
}
