.services__text > p {
  margin-bottom: 30px;
  color: $textColor;
  font-family: $main-font;
  font-size: rem(24);
  text-align: justify;
  &:last-child {
    margin-bottom: 50px;
  }
}

.services__text {
  li {
    font-size: rem(24);
    color: #838383;
  }
}

.objects--servise {
  margin-right: -30px;
}

.services__wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.services__docImage {
  width: 100%;
  background-color: $headerBGColor;
}

.flex-center {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.services__wrapperTitle {
  display: flex;
  margin-bottom: 40px;
  height: 385px;
  align-items: center;
}

.services__docTitle {
  padding-left: 50px;
  color: $textColor;
  font-family: $main-font;
  font-size: rem(24);
  margin: 0;
}

.objects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 75px
}

.ourObjects {
  max-width: 593px;
  // max-height: 470px;
  position: relative;
  margin-top: 30px;
}

.ourObjects__wrapper {
  overflow: hidden;
}

.ourObjects__image {
  width: 100%;
  background-color: $headerBGColor;
}

.ourObjects__descrBlock {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 0;
  padding: 50px 50px;
  transition: background-color .3s ease-in;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5)
  }
}

.ourObjects__title {
  width: 100%;
  color: $white;
  font-family: $main-font;
  font-size: rem(23);
  text-transform: uppercase;
  margin: 0;
}

.ourObjects__descr {
  width: 100%;
  color: $white;
  font-size: rem(15.3);
  font-family: $main-font;
}

.ourObjects__button {
  min-width: 165px;
  min-height: 40px;
  padding: 0;
  background-color: transparent;
  border: 1px solid $accentColor;
  color: $accentColor;
  font-size: rem(17.27);
  font-family: $main-font;
  border-radius: 2px;
  text-transform: uppercase;
  transition: background-color .3s ease-in;
  margin-top: 24px;
  &:hover {
    background-color: $accentColor;
    color: $textColor;
  }
}

.itemPU {
  outline: none;
}
