@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/subset-GothamPro.woff2') format('woff2'),
  url('../fonts/subset-GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/subset-GothamPro-Bold.woff2') format('woff2'),
  url('../fonts/subset-GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/subset-GothamPro-Medium.woff2') format('woff2'),
  url('../fonts/subset-GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/subset-GothamPro-Italic.woff2') format('woff2'),
  url('../fonts/subset-GothamPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/subset-GothamPro-Black.woff2') format('woff2'),
  url('../fonts/subset-GothamPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/subset-FiraSans-Regular.woff2') format('woff2'),
  url('../fonts/subset-FiraSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
